@import '../../../sass/main.scss';

.game {
  padding-top: 4rem;
  display: flex;
  // justify-content: space-around;
  // gap: 4rem;
  justify-content: space-around;
  // align-items: center;
  // max-width: 90%;
  width: min(100%, 1400px);
  margin: 0 auto;
  flex-wrap: wrap;
}

.game__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game__board-name {
  color: white;
  font-size: 1.2rem;
}

.game__squadron {
  width: 100%;
  padding-left: 45px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.game__squadron-row {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
}

.game__squadron-row_right {
  justify-content: flex-end;
}

.game__ship {
  height: 22.5px;
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.2s ease;

  &_marked {
    border: 2px solid $broken-ship-border;
    background-color: $broken-ship-background;
  }
}

@media (max-width: 768px) {
  .game__squadron {
    width: 150px;
    padding-left: 30px;
  }

  .game__ship {
    height: 15px;
  }
}

.game-stats {
  width: 290px;
  text-align: center;
}

.game-stats__timer {
  font-size: 1.5rem;
  margin: 3rem 0 1rem;
  padding: 0;
  font-weight: 600;
  opacity: 0.6;
  color: #848484;
}

.game-stats__anons {
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.45);
}

.game-stats__turns-count {
  font-size: 1rem;
  color: #848484;
}
