.first-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h1 {
  color: #fff;
  font-size: calc(2rem + 3vw);
  text-align: center;
}

.first-view__logo {
  width: min(90%, 280px);
}

.fist-view__buttons {
  display: flex;
  gap: 4rem;
  margin-top: 20vh;
  flex-wrap: wrap;
}

.first-view__button-div {
  position: relative;
}

.button-div__img {
  position: absolute;
  top: 50%;
  pointer-events: none;
  width: calc(3rem + 4vw);
  z-index: -1;
  transition: 0.2s;
  &_left {
    left: 0;
    transform: translate(-70%, -50%);
  }
  &_right {
    right: 0;
    transform: translate(70%, -50%);
  }
}

@media (max-width: 768px) {
  .fist-view__buttons {
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
  }

}

@media (max-width: 576px) {
  .first-view__button-div {
    transform: scale(0.7);
  }
  .header__buttons {
    gap: 1rem;
  }
}