.registration {

  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff65;
  top: 0;
  left: 0;
  font-size: 62.5%;
  z-index: 1;
  &__form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    width: 70vw;
    font-size: 1.6em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
    padding: 1.5em 1.8em;
    border-radius: 1.6em;
  }
  .form {
    &__input-block {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.8em;
      &.hidden {
        display: none;
      }
    }
    &__span {
      font-size: 0.5rem;
      color: red;
    }
    &__label {
      font-family: 'Unbounded', cursive;
      font-size: 1em;
    }

    &__input {
      height: 30px;
      background: #ffffff;
      padding-left: 0.5em;
      border: 1px solid #dedede;
      border-radius: 5px;
    }
    &__input[type='file'] {
      position: absolute;
      z-index: 1;
      opacity: 0;
      display: block;
      height: 6rem;
      // width: 0;
      // height: 0;
    }
  }
  .button {
    font-size: 0.8rem;
    max-width: 12rem;
    text-align: center;
    margin: 0 auto;
  }
  @media (min-width: 600px) {
    &__form {
      width: 27vw;
      min-width: 300px;
      gap: 1.5em;
      padding: 2.5em 3rem;
      border-radius: 1.6rem;
    }
  }
}
