$main-blue: #316DC9;
$light-blue: #D6E3F6;
$text-shadow-normal: 0 2px 2px rgba($color: #000000, $alpha: 0.2);
$text-shadow-big: 0 2px 6px rgba($color: #000000, $alpha: 0.35);
$text-shadow-blue: 0 2px 4px rgba($color: #2672B5, $alpha: 1);
$dark-blue: #1E4C8F;
$main-yellow: #DFED41;
$main-black: #555;
$main-red: #FF4040;
$main-wood: #FFC180;
$blue-gray: #5f9db6;
$dark-gray: #3c778d;