$main-blue: #316dc9;
$light-blue: #d6e3f6;
$text-shadow-normal: 0 2px 2px
  rgba(
    $color: #000000,
    $alpha: 0.2,
  );
$text-shadow-big: 0 4px 8px
  rgba(
    $color: #000000,
    $alpha: 0.45,
  );
$text-shadow-blue: 0 2px 2px
  rgba(
    $color: #2672b5,
    $alpha: 0.8,
  );
$dark-blue: #1e4c8f;
$main-yellow: #dfed41;
$main-black: #555;
$main-red: #ff4040;
$main-wood: #ffc180;
$blue-gray: #5f9db6;
$dark-gray: #3c778d;

$broken-ship-border: rgba(230, 88, 88, 0.9);
$broken-ship-background: rgba(248, 0, 0, 0.4);
